# local files
.DS_Store
.vscode
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrca

# test data
Tests/eppo/Resources/test-data
