name: Swift

env:
  SDK_BRANCH_NAME: ${{ inputs.sdk_branch  || github.head_ref || github.ref_name }}
  TEST_DATA_BRANCH_NAME: ${{ inputs.test_data_branch || 'lr/very-large-flag' }}

on:
  push:
    branches: [main]

  pull_request:

  workflow_dispatch:

  workflow_call:
    inputs:
      test_data_branch:
        type: string
        description: The branch in sdk-test-data to target for testcase files
        required: false
        default: lr/very-large-flag
      sdk_branch:
        type: string
        description: The branch of the SDK to test
        required: false

jobs:
  build:
    runs-on: macos-latest
    steps:
      - name: Display Testing Details
        run: |
          echo "Running SDK Test using"
          echo "Test Data: sdk-test-data@${TEST_DATA_BRANCH_NAME}"
          echo "SDK Branch: eppo-ios-sdk@${SDK_BRANCH_NAME}"

      - uses: actions/checkout@v3
        with:
          repository: Eppo-exp/eppo-ios-sdk
          ref: ${{ env.SDK_BRANCH_NAME}}

      - name: Build
        run: make build

      - name: Pull test data
        run: make test-data branchName=${{env.TEST_DATA_BRANCH_NAME}}

      - name: Run tests
        run: make test
